body {
    font-family: Arial, Helvetica, sans-serif;
}

a + span {
    margin-left: 5px;
    margin-right: 5px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.header > a > img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.button {
    color: black;
    padding: 10px 5px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: darkgray;
}

#footer {
    justify-content: center;
    font-size: 12px;
    font-style: italic;
    text-align: center;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 25px;
}

.media_post {
    background-color: lightgray;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 20px;
    margin: 5px;
    box-sizing: border-box;
    flex: 1 1 calc(33.33% - 20px);
}

.post_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: bold;
}

.post_header img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.media_post_pic img {
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 10px;
}

.post_footer {
    margin-top: 10px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: normal;
}

.post_footer img {
    width: 20px;
    height: 25px;
}

@media (max-width: 768px) {
    .posts {
        flex-direction: column;
    }

    .media_post {
        flex: 1 1 100%;
    }
}

.login {
    background-color: lightgray;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    @media (min-width:768px) {
        width: 15%;
    }
    padding: 10px;
}

.login_form input[type=text] {
    padding:10px;
    margin: 8px;
    border: none;
}

.login_form input[type=submit],
.form-group input[type=submit] {
    background: darkblue;
    color: white;
    width: 30%;
    height: 20%;
    border: none;
    margin-bottom: 15px;
}

.linktext {
    color: blue;
}

.linktext ~ p {
    margin: auto;
}

::placeholder{
    color: darkgray;
}

.post-form {
    background-color: lightgray;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    width: 70%;
    max-width: 400px;
    padding: 20px;
}

.post-form .form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    width: 100%;
}

.post-form .form-group label {
    width: 100px;
}

.form-group input[type="file"],
.form-group textarea {
    flex: 1;
    padding: 8px;
}

.form-group textarea {
    resize: vertical;
    height: 100px;
}

.post-form .form-group input[type=submit] {
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
}

.post-form .form-group.submit {
    display: flex;
    justify-content: center;
}

.profile-dropdown{
    position: relative;
    display: inline-block;
}

.profile-pic {
    cursor: pointer;
}

.dropdown-content{
    display: none;
    position: absolute;
    right: 0;
    background-color: white;
    min-width: 150px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.dropdown-content p{
    margin: 5px 0;
}

.profile-dropdown.show .dropdown-content {
    display: block;
}

.profile-dropdown .profile-pic img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    object-fit: cover;
}
